* {
    box-sizing: border-box;
  }
.vid{
    width:200px;
    height:200px;
}

.container{
    display:flex;
    flex-wrap: wrap;
}

body{
    background-color: rgba(32, 24, 24, 0.849);
}

.smth{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.searchContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

input {
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
}

.show{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 8vh 2.5rem 5vh;
    justify-content: center;
    align-items: center;
}



#uniq{
    color:white;
    width:300px;
    max-width:100%;
    background-color:black ;
    border-bottom: 20px;
    border:0;
    border-radius: 50px;

}

#uniq:hover {
  box-shadow:4px 4px 4px rgba(0, 0, 0, 0.116);
}

#uniq:focus{
    box-shadow:4px 4px 4px rgba(216, 211, 211, 0.116);
    outline: none;
}
.but{
    width: 220px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.but:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.but:active{
    color: #000
}

.but:active:after{
    background: transparent;
}

.but:hover:before{
    opacity: 1;
}

.but:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

audio:hover, audio:focus, audio:active{
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    transform: scale(1.05);
}

audio{
    width:500px;
    max-width:100%;
    transition:all 0.5s linear;
    box-shadow: 2px 2px 4px 0px #006773;
    border-radius:7px 7px 7px 7px ;
}
