.forStyle{
    list-style: none;
    padding-inline-start:0px;
}

.formm{
    display:flex;
    justify-content: center;
}

.li{
    padding-left: 135px;
    display:flex;
}

input[type=text]:focus {
    background-color: lightblue;
}
input[type=text] {
    background-color: #3CBC8D;
    color: white;
  }

  ::placeholder {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
  }

.li_div{
    width:100%;
    display:flex;
    justify-content: flex-end;
}